<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>A Node.js app using the Express framework and searoute-js 
      to calculate the nearest sea route for two points on Earth.
    </p>
    <h3>Clients</h3>
    <ul>
      <li>
        <a href="https://btcellnet.z6.web.core.windows.net/maps">
          JavaScript
        </a>   
      </li>
    </ul>     
  </body>
</html>